* {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: sans-serif, Arial;
}

body {
  position: relative;
}

button {
  padding: 0;
  outline: none;
  background: none;
  cursor: pointer;
}

[data-prevent-selection] {
  user-select: none;
}

canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.btn {
  position: relative;
}

.player {
  position: fixed;
  right: 0;
  bottom: 40px;
  left: 0;
  max-width: 80%;
  margin: 0 auto;
  color: #fff;
}

.player__controls {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player__btn {
  display: none;
  border: none;
}

.player__btn svg {
  height: 50px;
  width: auto;
  fill: blue;
}

.player[data-is-playing="true"] .player__pause-btn {
  display: block;
}

.player[data-is-playing="false"] .player__play-btn {
  display: block;
}

.player__track-info {
  margin-bottom: 20px;
}

.player__artist-name {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.player__timeline {
  width: 100%;
}

.player__time {
  display: flex;
}

.player__total-time {
  margin-left: auto;
}

.player__progress {
  position: relative;
  display: flex;
  align-items: center;
  height: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.player__progress-wrapper {
  position: relative;
  width: 100%;
}

.player__progress-track,
.player__progress-bar {
  width: 100%;
  height: 2px;
  background-color: blue;
}

.player__progress-track {
  opacity: 0.5;
  background-image: linear-gradient(to right, blue, purple);
}

.player__progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 0;
}

.player__progress-thumb {
  position: absolute;
  top: calc(-50% + 2px);
  right: -10px;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  opacity: 0;
  border-radius: 50%;
  background-color: blue;
  transition: 0.15s ease-in-out opacity;
}

.player__progress:hover .player__progress-thumb {
  opacity: 1;
}
